<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Grama</title>
    </head>
    <body>
        <!-- Fragmento para agregar productos al carrito -->
        <section th:fragment="agregarProducto">
            <div id="agregarProducto"
                 class="modal fade"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{index.nuestrosProductos}]]</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form th:action="@{/carrito/agregar}" th:object="${producto}"
                              method="POST" class="was-validated"
                              enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">[[#{producto.nombre}]]</label>
                                    <input type="text" class="form-control" th:value="${producto.nombre}" readonly="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{producto.precio}]]</label>
                                    <input type="text" class="form-control" th:value="${producto.precio}" readonly="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="stock">[[#{producto.stock}]]</label>
                                    <input type="text" class="form-control" th:value="${producto.stock}" readonly="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="cantidad">[[#{carrito.cantidad}]]</label>
                                    <input type="number" class="form-control" name="cantidad" required="true"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Agregar al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Fragmento para ver el carrito -->
        <section th:fragment="verCarrito">
            <div id="verCarrito"
                 class="modal fade"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{carrito.titulo}]]</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{producto.descripcion}]]</th>
                                            <th>[[#{producto.precio}]]</th>
                                            <th>[[#{carrito.cantidad}]]</th>
                                            <th>[[#{carrito.total}]]</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${item.descripcion}]]</td>
                                            <td class="text-end">[[${item.precio}]]</td>
                                            <td class="text-center">[[${item.cantidad}]]</td>
                                            <td class="text-center">[[${item.cantidad*item.precio}]]</td>
                                            <td>
                                                <a th:href="@{/carrito/eliminar/}+${item.id}"
                                                   class="btn btn-danger">
                                                    <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/carrito/modificar/}+${item.id}"
                                                   class="btn btn-success">
                                                    <i class='fas fa-pencil'></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items == null or items.empty}">
                                [[#{carrito.no_mostrar}]]
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/facturar/carrito}" class="btn btn-info">
                                <i class='fas fa-forward'></i> [[#{carrito.facturar}]]
                            </a>
                            <a th:href="@{/}" class="btn btn-success">
                                <i class='fas fa-reply'></i> [[#{carrito.seguirComprando}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
