<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="~{layout/plantilla :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <aside th:replace="~{layout/plantilla :: vendido}"/>
        <br>        
        <div>
            <p>
                Bienvenidos a Grama

                En Grama, somos apasionados de la tecnología y nos especializamos en ofrecer una amplia gama de productos informáticos de alta calidad. Nuestra tienda es el destino ideal para todos tus necesidades tecnológicas, desde componentes de última generación hasta equipos completos.

                ¿Quiénes Somos?

                Somos una tienda dedicada a brindar soluciones tecnológicas integrales, con un enfoque en la venta de productos informáticos y una variedad de servicios especializados. Nuestro equipo está formado por expertos en el campo de la informática, comprometidos a ofrecer el mejor servicio y asesoramiento a nuestros clientes.

                Nuestros Servicios

                Venta de Productos Informáticos: Contamos con un extenso catálogo de productos, incluyendo hardware, software y accesorios de las marcas más reconocidas del mercado.
                Ensamblaje de Computadoras: Ofrecemos servicios personalizados de ensamblaje de computadoras, adaptándonos a tus necesidades específicas, ya sea para gaming, trabajo profesional o uso personal.
                Revisión y Mantenimiento: Nuestro equipo de técnicos calificados realiza revisiones completas y mantenimiento de equipos para asegurar su óptimo funcionamiento.
                Asesoría Técnica: Brindamos asesoramiento experto para ayudarte a tomar las mejores decisiones en cuanto a la elección y configuración de tus equipos informáticos.
                En Grama, nos enorgullece nuestra dedicación a la satisfacción del cliente y a la calidad de nuestros productos y servicios. Nos esforzamos por mantenernos a la vanguardia de las tendencias tecnológicas para ofrecerte siempre lo mejor.

                Visítanos

                Te invitamos a visitar nuestra tienda y descubrir todo lo que Grama tiene para ofrecerte. Nuestro equipo estará encantado de ayudarte a encontrar las soluciones tecnológicas que mejor se adapten a tus necesidades. 
            </p>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
