<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/plantilla :: head}"/>
<style th:replace="~{producto/fragmentos :: style}"/>
<body>
<section th:replace="~{categoria/fragmentos :: iniciarSesion}" />

<header th:replace="~{layout/plantilla :: header}" />
<section th:replace="~{layout/plantilla :: banner}" />
<div th:replace="~{layout/plantilla :: busqueda}"></div>

    <aside th:replace="~{layout/plantilla :: recomendado}" />
    <div th:replace="~{layout/plantilla :: compras}" />
    <div th:replace="~{layout/plantilla :: description}"></div>

<div th:replace="~{producto/fragmentos :: tarjetas}"/>

<footer th:replace="~{layout/plantilla :: footer}" />
</body>
</html>
