<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/plantilla :: head}"/>
<style th:replace="~{producto/fragmentos :: style}"/>
<body>
<section th:replace="~{categoria/fragmentos :: iniciarSesion}"/>

<header th:replace="~{layout/plantilla :: header}"/>

<div th:replace="~{productoPage/fragmentos :: producto}"/>


<div th:replace="~{productoPage/fragmentos :: relacionado}"/>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
