<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Registrarse</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>

                    <style>
                        .error-box {
                            background-color: #fff;
                            padding: 20px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            text-align: center;
                            width: 300px;
                        }
                        .error-message {
                            color: #ff0000;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                    </style>

                    <header th:replace="~{layout/plantilla :: header}"/>
                    <div th:if="${errorVisible}" class="alert alert-danger" role="alert">
                        Ocurrió un error al procesar su solicitud.
                    </div>
                    <!-- Sección que muestra cuadro para poder registrar un usuario-->    
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-6">
                                <div class="card rounded-4 shadow">
                                    <div class="p-5 pb-4 border-bottom-0">
                                        <h1 class="fw-bold mb-0 fs-2 text-center">Registrarse</h1>
                                    </div>
                                    <div class="card-body p-5 pt-0">
                                        <form action="#" th:action="@{/register}" method="post" class="needs-validation was-validated" novalidate>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control rounded-3" id="nombre" name="nombre" placeholder="Nombre" required>
                                                    <label for="nombre"><i class="fas fa-user"></i> Nombre</label>
                                                    <div class="invalid-feedback">
                                                        Por favor ingresa tu nombre.
                                                    </div>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control rounded-3" id="apellido" name="apellido" placeholder="Apellido" required>
                                                    <label for="apellido"><i class="fas fa-user"></i> Apellido</label>
                                                    <div class="invalid-feedback">
                                                        Por favor ingresa tu apellido.
                                                    </div>
                                            </div>                                            
                                            

                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control rounded-3" id="inputEmail" name="email" placeholder="Ingrese su email" required>
                                                    <label for="inputEmail"><i class="fas fa-envelope"></i> Email</label>
                                                    <div class="invalid-feedback">
                                                        Por favor ingresa un correo válido.
                                                    </div>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control rounded-3" id="inputPassword" name="password" placeholder="Contraseña" required>
                                                    <label for="inputPassword"><i class="fas fa-key"></i> Contraseña</label>
                                                    <div class="invalid-feedback">
                                                        Por favor ingresa tu contraseña.
                                                    </div>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control rounded-3" id="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" required>
                                                    <label for="confirmPassword"><i class="fas fa-key"></i> Confirmar contraseña</label>
                                                    <div class="invalid-feedback">
                                                        Por favor confirma tu contraseña.
                                                    </div>
                                            </div>

                                            <div class="form-check mb-3">
                                                <input type="checkbox" class="form-check-input" id="termsCheck" required>
                                                    <label class="form-check-label" for="termsCheck">Acepto los <a href="/terms" target="_blank">términos y condiciones</a></label>
                                                    <div class="invalid-feedback">
                                                        Debes aceptar los términos y condiciones para continuar.
                                                    </div>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Registrarse</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div th:if="${param.error != null}" class="p-5 pt-0">
                                        <h3 class="text-danger">Error en el registro</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-5"></div>


                    <footer th:replace="~{layout/plantilla :: footer}"/>

                </body>
                </html>
