
aside {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    width: 300px;
}


aside h2 {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
}

/* Estilos para la sección del producto */
.producto {
    text-align: center; /* Centrar contenido del producto */
}

.producto img {
    max-width: 100%; /* Imagen ajustada al contenedor */
    height: auto; /* Altura automática */
    margin-bottom: 10px; /* Margen inferior */
}

.producto h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.producto p {
    margin-bottom: 5px;
}

.producto a {
    display: inline-block;
    padding: 5px 10px; /* Rellenar el enlace */
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Sin subrayado */
    border-radius: 3px; /* Bordes redondeados */
    margin-top: 10px; /* Margen superior */
}

.producto a:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el ratón */
}
